body, html {
    height: 100%;
    width: 100%;
    color: #FFF;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    font-family:'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Garamond', 'Caslon', 'Minion', serif;
    margin: 10px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: grey;
}

.navbar {
    background-color: white;
    margin: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
}

/*These apply to all page headings*/
.section-heading{
  padding-top: 40px;
  padding-bottom: 30px;
}


/*This is the home section*/
#intro {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
  	background: linear-gradient(45deg, #FF8E8E, #F5A94C, #E0C15B);
}

.intro-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    overflow: visible;
}

.intro-body h1 {
    font-size: 8vw;
}

.intro-body p {
    font-size: 3.2vw;
}

/*This is the about section*/
#about {
	height: auto;
	width: 100%;
	background: linear-gradient(45deg, #E0C15B, #8FB259, #02A676);
  overflow: visible;
  padding-bottom: 40px;
}

#about img {
  max-width: 60%;
  padding-top: 30px;
  padding-bottom: 50px;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

#about-description {
  padding-left: 60px;
}

/*This is the portfolio section*/
#portfolio {
  height: auto;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #009469, #3498DB, #4043B5);
}

#portfolio h3 {
  text-align: left;
  text-decoration: none;
}

/*This is the contact section*/
#contact {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  background: linear-gradient(45deg, #533b77, #943D99, #FF8E8E);
  overflow: hidden;
}

.contact-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}

/*This is the contact form*/
.feedback-input {
	color: #3c3c3c;
	font-family:'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
  font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*This is the footer*/

#footer {
  background-color: #f1f1f1;
  height: auto;
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
}

#footer p {
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #101010;
  margin: 0px;
  font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
}
